.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 80%;
  color: #333;
  padding: 0.75em;
  border-radius: 0.3em;
  border: 2px solid #ccc;
  outline: none;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input:focus {
  border-color: #5bd1d7;
}

.inputError {
  border-color: red;
}

.button {
  color: #000;
  padding: 0.75em;
  border-radius: 0.3em;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
  transition: all ease-in-out 0.15s;
}
.button:hover {
  transform: scale(1.05);
}
.button:focus {
  border-color: #5bd1d7;
}
.button:active {
  box-shadow: inset 1px 1px 5px 0 #ccc;
  border: inherit;
  transform: scale(0.99);
}
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
