.empty {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  border: 1px solid #fcc6cb;
  color: #911f35;
  border-radius: 6px;
  padding: 1em;
  font-size: 1.1em;
  font-weight: 500;
  background: rgba(253, 215, 218, 0.99);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
}
.img {
  margin-right: 10px;
}

@media (max-width: 540px) {
  .empty {
    left: 0.5em;
  }
}
