.empty {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  background: #fdd7da;
  border: 1px solid #fcc6cb;
  color: #911f35;
  border-radius: 6px;
  padding: 1em;
  font-size: 1.1em;
  font-weight: 500;
}
