.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  text-align: center;
  min-height: 100vh;
}
.todo-app {
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  border-radius: 8px;
}
